{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="container">
      
      {% if response is defined %}
        {{ response }}
      {% endif %} 
      
      
      <div class="text-center">
        <h2>MON PROFIL</h2>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Mes ami(e)s</span>
            <span class="badge badge-secondary badge-pill"> {{ friends | length }}</span>
          </h4>

          {{ form_start(addForm) }}
            <div class="input-group">
              {{ form_widget(addForm.username, { 'attr': {'class': 'form-control'} }) }}
              <div class="input-group-append">           
                <button type="submit" class="btn btn-secondary">Ajouter</button>
              </div>
            </div>
          {{ form_end(addForm) }}

          </br>

          <ul class="list-group mb-3">

          {% for friend in friends %}

              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{ friend.username }}</h6>
                  <small class="text-muted">{{ friend.email }}</small>
                </div>
                
                <span class="text-muted"> 
                {{ form_start(deleteForms[friend.id]) }}
                    <button type="submit" class="btn btn-small">
                      <span class="text-muted"> Supprimer</span>
                    </button>
                {{ form_end(deleteForms[friend.id]) }}
                </span>
              </li>
          
          {% endfor %}
            
          </ul>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Mes informations personnelles</h4>
          <form>
            <div class="mb-3">
              <label for="username">{{ 'profile.show.username'|trans }} </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" placeholder="{{ user.username }}" required="" disabled>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">{{ 'profile.show.email'|trans }}</label>
              <input type="email" class="form-control" id="email" placeholder="{{ user.email }}" disabled>
            </div>

            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" placeholder="{{ user.age }}" required="" disabled>
              </div>
              <div class="col-md-3 mb-3">
                <label for="famille">Famille</label>
                <input type="text" class="form-control" id="famille" placeholder="{{ user.famille }}" required="" disabled>
              </div>
              <div class="col-md-3 mb-3">
                <label for="race">Race</label>
                <input type="text" class="form-control" id="race" placeholder="{{ user.race }}" required="" disabled>
              </div>
              <div class="col-md-3 mb-3">
                <label for="nourriture">Nourriture</label>
                <input type="text" class="form-control" id="nourriture" placeholder="{{ user.nourriture }}" required="" disabled>
              </div>
            </div>
          </form>
          <hr class="mb-4">
            <div class="row">
                <a class="btn btn-primary btn-lg btn-block" href="{{ path('fos_user_profile_edit') }}">Mettre à jour mon profil</a> 
            </div>
        </div>
      </div>
    </div>
</div>
