<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"> <a href="{{ path('homepage') }}"> Marsupilami Address Book </a> </h5>
            <nav class="my-2 my-md-0 mr-md-3">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="p-2 text-dark" href="{{ path('fos_user_profile_show') }}">Profil</a>
                {% else %}
                    <a class="p-2 text-dark" href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
            </nav>
        
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="btn btn-outline-primary" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}
                <a class="btn btn-outline-primary" href="{{ path('fos_user_registration_register') }}">Inscription</a>
            {% endif %}            
        </div>

        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
